body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.content {
  max-width: 1200px;
  margin: 50px auto auto;
}

Button {
  min-width: 100px;
}

.centered {
  text-align: center;
}

.spinner {
  margin-left: 5px;
  vertical-align: middle !important;
  color: #0d6efd;
}

.logout-button,
.add-button {
  float: right;
  display: block;
  margin-top: -10px;
}

.add-button {
  margin-bottom: 5px;
  margin-top: 0;
}

.link-button {
  margin-left: 10px;
}

.rental-container {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.date-picker-div {
  max-width: 200px;
  display: inline-block;
}

.rental-confirm-button {
  margin-top: -5px;
}

.not-available {
  background-color: #d59191 !important;
}

.available {
  background-color: #83b541 !important;
}

.bikes-reservations-title {
  display: inline-block;
  margin-right: 5px;
}

.filter-field {
  margin-left: 10px;
}

.bike-add-button {
  height: 30px;
}

.bikes-filter-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-end;
}
